<a href="https://colab.research.google.com/github/YuShanLi33/Introductoion-to-Computers/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("123")

123

In [2]:
i = range(5)

In [3]:
print(type(i))

<class 'range'>

In [4]:
print(i)

range(0, 5)

In [5]:
print(list(i))

[0, 1, 2, 3, 4]

In [12]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [13]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [14]:
c = range(3, 8, 1)
print(list(c))

[3, 4, 5, 6, 7]

In [15]:
d = range(3, 8, 2)
print(list(d))

[3, 5, 7]

In [16]:
e= range(8, 3, -1)
print(list(e))

[8, 7, 6, 5, 4]

In [28]:
f = range(9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
g = range(1, 10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
h = range(1, 10, 2)
print(list(h))

[1, 3, 5, 7, 9]

In [29]:
i = range(10, 1, -2)
print(list(i))

[10, 8, 6, 4, 2]

In [30]:
for n in range(3):
  print(n)

0
1
2

In [31]:
for n in range(10):
  print(n, end=",")

0,1,2,3,4,5,6,7,8,9,

In [35]:
for n in range(0, 10, 2):
  print(n, end=",")

0,2,4,6,8,

In [59]:
test = int(input("請輸入一個正整數:"))
for m in range(1, test+1):
  print(m, end=" ")

請輸入一個正整數:5
1 2 3 4 5

In [46]:
test = int(input("請輸入一個正整數:"))
for m in range(1, test+1):
  print(m, end=" ")

請輸入一個正整數:12
1 2 3 4 5 6 7 8 9 10 11 12

In [48]:
sum = 0
for n in range(3):
  sum = sum+n
print(sum)

3

In [50]:
sum = 0
for n in range(10, 1, -2):
  sum = sum+n
print(sum)

30

In [4]:
test = int(input("請輸入一個正整數:"))
sum = 0
for n in range(1 ,test+1):
  sum = sum+n
print(sum)

請輸入一個正整數:10
55

In [1]:
test = int(input("請輸入一個正整數:"))
sum = 0
for n in range(1 ,test+1):
  sum = sum+n
print(sum)

請輸入一個正整數:50
1275

In [3]:
test = int(input("請輸入一個正整數:"))
for i in range(1, test+1):
    sum = 0
    for j in range(1, i+1):
        sum = sum + j
    print("1到" + str(i) + "的整數合為:", sum)

請輸入一個正整數:10
1到1的整數合為: 1
1到2的整數合為: 3
1到3的整數合為: 6
1到4的整數合為: 10
1到5的整數合為: 15
1到6的整數合為: 21
1到7的整數合為: 28
1到8的整數合為: 36
1到9的整數合為: 45
1到10的整數合為: 55